* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.ui.menu {
  margin-bottom: 0;
  border-radius: 0;
}

.menu .item :hover {
  background-color: #555;
}

.content-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./SpaceWallpaper.jpg');
}

.sign-in-window-container {
  width: 25vw;
}

.campus-view-window {
  max-width: 70vw;
  margin-top: 15vh;
  background: white;
  border-radius: 5px;
  padding: 2em;
}

.campus-previews {
  display: flex;
  flex: 1 1 1em;
  flex-wrap: wrap;
}

.single-campus-preview {
  flex: 1 1 1em;
  margin: 2vh 2vw;
}

.single-campus-view-window {
  display: flex;
  max-width: 70vw;
  min-width: 50vw;
  margin-top: 15vh;
  background: white;
  border-radius: 5px;
  padding: 2em;
}

.campus-detail-left {
  margin: 1em 4em 1em 1em;

}

.campus-detail-right {
  margin: 1em 1em 1em 2em;
  flex: 1 1 1em;
}

.all-students-view-window {
  width: 70vw;
  padding: 2em 3em;
  background: white;
  border-radius: 5px;
}

.single-student-view-window {
  min-width: 50vw;
  padding: 2em 3em;
  background: white;
  display: flex;
  border-radius: 5px;
}

.student-detail-left {
  margin: 1em 4em 1em 1em;

}

.student-detail-right {
  margin: 1em 1em 1em 2em;
  flex: 1 1 1em;
}

.campus-form-container {
  background: white;
  width: 50vw;
  min-height: 50vh;
  padding: 2em;
  border-radius: 5px;
}
